body {
    background-color: whitesmoke;
    margin: 20px;
    font-family: system-ui;
    background-image: url(../IMAGES/white\ texture.jpg);
  }

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #f5f5f5;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
ul.breadcrumb li a {
    color: #808000;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
.footer{
    text-align: center;
  color: #808000;
}

.hero{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.produktai{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.konteineris{
  background-color: #f5f5f5;
  background-image: url(../IMAGES/CNV000001.jpg);
  color: #b50606;
  border: black;
  border-style: solid;

}
div, span{
  border: 3px solid red;
  width: 200px;
  height: 25px;
  margin: 10px;
  padding: 25px;
}